<div class="row justify-content-md-center rounded-top mt-5">
  <h3 class="card-header col-md-4 border bg-light"><%= t('titles.sign_in') %></h3>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-4 border rounded-bottom shadow mb-3 pt-2">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-3">
      <%= f.label :email, class: 'form-label' %><br />
      <%= f.email_field :email, placeholder: t('text.enter_email'), autofocus: true, class: 'form-control shadow-sm' %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: 'form-label' %><br />
      <%= f.password_field :password, placeholder: t('text.enter_password'), autocomplete: "current-password", class: 'form-control shadow-sm' %>
    </div>
    
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me, class: 'form-check-label shadow-sm' %>
        <%= f.label :remember_me, class: 'form-label' %>
      </div>
    <% end %>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <%= f.submit t('buttons.sign_in'), class: 'btn btn-primary rounded-pill shadow-sm' %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
  <div class="row">
    <%= link_to 'Политика конфиденциальности', root_url + 'privacy_policy.html' %>
  </div>
  </div>
</div>
