<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="mb-3">
    <%= f.label :name, class: 'form-label fw-bold' %>
    <%= f.text_field :name, class: 'form-control shadow-sm' %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: 'form-label fw-bold' %>
    <%= f.text_field :email, class: 'form-control shadow-sm' %>
  </div>

  <div class="col-md-7 mb-3">
    <%= f.label :avatar, t('text.load_avatar'), class: 'btn btn-sm btn-secondary active' %>
    <%= f.file_field :avatar, class: 'visually-hidden' %>
  </div>

  <div class="actions float-end">
    <%= link_to t('buttons.back'), :back, class: 'link-secondary active'%>
    <%= t('text.or')%>
    <%= f.submit t('buttons.save'), class: 'btn btn-primary rounded-pill' %>
  </div>
<% end %>
