<div class="text-center">
  <%= content_tag(:h1, @user.name) %>

  <%= image_tag user_avatar(@user), class: 'avatar' %>

  <% if @user == current_user %>
    <%= content_tag(
          :p, link_to(t('titles.account_edit'), edit_user_path(@user),
          class: 'btn btn-light border rounded-pill'), class: 'buffer-top'
        ) %>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <% if @user.events.any? %>
        <%= content_tag(:h3, t('titles.organized'), class: 'fw-light') %>
        <div class="row mt-3">
          <%= render partial: 'events/event', collection: @user.events %>
        </div>
      <% else %>
        <%= content_tag(:p, t('text.no_events'), class: 'buffer-top') %>
      <% end %>
    </div>
  </div>
</div>
