<div class="row d-flex justify-content-center mt-3">
  <div class="col-md-6 border rounded shadow py-2">
    <%= form_for(@event) do |f| %>
      <%= render partial: 'partials/form_errors', locals: {model: @event} %>

      <div class="mb-3">
        <%= f.label :title, class: 'fs-5' %>
        <%= f.text_field :title, class: 'form-control shadow-sm' %>
      </div>

      <div class="mb-3">
        <%= f.label :address, class: 'fs-5' %>
        <%= f.text_field :address, class: 'form-control shadow-sm' %>
      </div>

      <div class="mb-3">
        <%= f.label :datetime, class: 'fs-5' %>
        <p><%= f.datetime_select :datetime, class: 'form-select shadow-sm' %></p>
      </div>

      <div class="mb-3">
        <%= f.label :description, class: 'fs-5' %>
        <%= f.text_area :description, class: 'form-control shadow-sm' %>
      </div>

      <div class="form-check form-switch mb-2">
        <% if @event.notifications %>
          <%= f.check_box :notifications, class: 'form-check-input shadow-sm', checked: true %>
        <% else %>
          <%= f.check_box :notifications, class: 'form-check-input shadow-sm' %>
        <% end %>

        <%= f.label t('.email_notifications'), class: 'form-check-label' %>
      </div>

      <div class="mb-3 col-md-4">
        <%= f.label :pincode, class: 'fs-5' %>
        <%= f.text_field :pincode, class: 'form-control shadow-sm' %>
      </div>

      <div class="actions float-end">
        <%= link_to t('buttons.back'), user_path(current_user), class: 'link-secondary' %>
        <%= t('text.or')%>
        <%= f.submit t('buttons.save'), class: 'btn btn-primary rounded-pill shadow-sm' %>
      </div>
    <% end %>
  </div>
</div>
