<h1><%= t('titles.pincode_access') %></h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="col-md-4 mb-3">
    <%= label :pincode, t('text.pincode'), class: 'form-label' %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= submit_tag t('buttons.send'), class: 'btn btn-primary rounded-pill' %>
  </div>
<% end %>

<%= link_to t('text.to_main'), events_path %>
