<div class="event">
  <div class="event-info row">
    <div class="col-md-12 event-info-inner rounded">
      <%= content_tag 'div', '', class: 'event-background',
        style: "background-image: url(#{event_photo(@event)})" %>
      <div class="row event-banner">
        <div class="col-md-8 px-4 py-3">
          <div class="event-description">
            <h1 class="text-center fw-light"><%= @event.title %></h1>
            <h3 class="fw-lighter"><%= l(@event.datetime, format: :short) %></h3>
            <h3 class="fw-light" style="color: #0dcaf0">
              <%= @event.address %>
            </h3>
            <h3>
              <%= button_tag t('.show_on_map'), data: {'bs-toggle' => 'modal', 'bs-target' => '#staticBackdrop'}, class: 'btn btn-warning active btn-sm fs-5'%>
            </h3>
            <p class="text-break"><%= @event.description %></p>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
              <div class="modal-header">
                <h3 class="text-black float-start"><%= @event.address %><h3>
                <button type="button" class="float-end btn btn-secondary" data-bs-dismiss="modal"><%= t('.close')%></button>
              </div>
                <div class="modal-body p-0">
                  <div id="map" data-address="<%= @event.address %>" style="width: auto; min-height: 800px;"></div>
                </div>
              </div>
            </div>
          </div>

          <% if current_user_can_edit?(@event) %>
            <div class="buffer-top">
              <%= link_to t('buttons.change'), edit_event_path(@event),
                class: 'btn btn-secondary mb-1 rounded-pill' %>
              <%= link_to t('buttons.event_delete'), event_path(@event), class: 'btn btn-danger mb-1 rounded-pill',
                method: :delete, data: { confirm: t('.are_you_sure') }%>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <h3 class="text-center mt-4 fw-light"><%= t('titles.event_creator') %></h3>
          <div class="d-flex justify-content-center">
            <a href="<%= user_path(@event.user) %>" class="p-1 link-dark">
              <div>
                <%= image_tag user_avatar(@event.user), class: 'avatar-event border border-3 border-white' %>
                <div class="text-center mt-2">
                  <strong class="fs-5 text-light fw-light"><%= @event.user.name %></strong>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="event-photos">
        <% unless @event.photos.count.zero? %>
          <h3 class="fw-light mb-3"><%= t('titles.event_photos', count: @event.photos.count) %></h3>
          <div class="event-photos-gallery shadow">
                
                <!-- Carousel -->
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner rounded">
                <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        <% else %>
          <h5 class="text-center my-5 text-secondary"><%= t('.no_photo_yet') %></h5>
        <% end %>
        
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-secondary mt-3 <%= 'disabled' unless current_user.present? %>" data-bs-toggle="modal" data-bs-target="#fileLoad">
            <%= t('.add_photo') %>
          </button>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <% unless current_user.present? %>
            <p class="text-danger fw-light"><%= t('.only_authorized_users') %></p>
          <% end %>
        </div>

        <!-- Modal photo download -->
        <div class="modal" id="fileLoad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="fileLoadLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><%= t('.load_photo') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="event-photo-form">
                  <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-md-11 my-4">
        <% if @event.comments.exists? %>
          <h3 class="fw-light"><%= t('.comments', count: @event.comments.count) %></h3>
          <div class="buffer-both">
            <%= render partial: 'comments/comment',
              collection: @event.comments.except(@new_comment).order(created_at: :desc) %>
          </div>
        <% else %>
          <em><h6 class="text-center my-5 text-secondary"><%= t('.no_comments_yet') %></h6></em>
        <% end %>
          <%= render partial: 'comments/form',
            locals: {comment: @new_comment || @event.comments.build} %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <% if @event.subscriptions.exists? %>
        <div class="event-subscriptions mt-3">
          <h3 class="mb-3"><%= t('titles.event_subscribers', count: @event.subscriptions.count) %></h3>
          <div>
            <div class="row row-cols-auto">
            <%= render partial: 'subscriptions/subscription',
              collection: @event.subscriptions.except(@new_subscription) %>
            </div>
          </div>
        </div>
      <% end %>

      <% unless @event.user == current_user || @event.subscribers.include?(current_user) %>
        <div class="row">
          <%= render partial: 'subscriptions/form', locals: {
            subscription: @new_subscription || @event.subscriptions.build
          } %>
        </div>
      <% end %>

    </div>
  </div> 
</div>

<%= javascript_pack_tag 'scripts/map' %>
