<% unless user_signed_in? %>
<div class="row justify-content-md-center rounded-top mt-4">
  <h4 class="card-header col-md-12 border bg-light"><%= t('titles.join') %></h4>
</div>
<% end %>

<div class="row justify-content-md-center">
  <div class="col-md-12 rounded-bottom mb-3 pt-2 <%= 'border shadow' unless user_signed_in? %>">

    <%= form_for [@event, subscription] do |f| %>
      <%= render partial: 'partials/form_errors', locals: {model: subscription} %>

      <% unless user_signed_in? %>
          <div class="mb-3">
            <%= f.label :user_name %>
            <%= f.text_field :user_name, class: 'form-control shadow-sm' %>
          </div>

          <div class="mb-3">
            <%= f.label :user_email %>
            <%= f.text_field :user_email, class: 'form-control shadow-sm' %>
          </div>
      <% end %>

      <div class="actions">
        <%= f.submit t('.subscribe'), class: 'btn btn-primary float-end mb-3' %>
      </div>
    <% end %>
  </div>
</div>

