<div class="row justify-content-md-center rounded-top mt-5">
  <h3 class="card-header col-md-4 border bg-light"><%= t('titles.forgot_password') %></h2>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-4 border rounded-bottom shadow mb-3 pt-2">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, class: 'form-label' %><br />
        <%= f.email_field :email, placeholder: 'Введите e-mail', class: 'form-control shadow-sm' %>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-1">
        <%= f.submit t('buttons.reset_password'), class: 'btn btn-primary shadow-sm rounded-pill' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
