<%= content_tag(:h1, t('.title')) %>
<%= image_tag(@photo.photo.url, alt: t('.photo'), width: 300) %>

<p><%= t('.author') %>: <strong><%= @photo.user.name %></strong></p>

<hr/>
<%= t('.event') %>
<%= content_tag(:h3, content_tag(:a, @event.title, href: event_url(@event))) %>

<%= t('.datetime') %>
<%= content_tag(:h4, l(@event.datetime)) %>

<%= t('.owner') %>
<%= content_tag(:h4, @event.user.name) %>
