<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "Bbq" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to "BBQ!", root_path, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if user_signed_in? %>
              <li><%= link_to 'Профиль', current_user, class: 'nav-link active' %></li>
              <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'nav-link active' %></li>
            <% else %>
              <li><%= link_to 'Войти', new_user_session_path, class: 'nav-link active' %></li>
              <li><%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'nav-link active' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container mt-3">

       <% if flash.any? %>
          <% flash.each do |name, message| %>
            <div class="alert alert-dismissible fade show" role="alert">
            <%= content_tag :p, message, class: "message-#{name}", role: 'alert' %>
          <% end %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      <% end %>


      <div class="row">
        <div class="col-lg-9">
          <%= yield %>
        </div>
        <div class="col-lg-3">
        </div>
      </div>

      <footer>
        <p>&copy; Company 2021</p>
      </footer>

    </div>
  </body>
</html>
