<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : t('app.name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to t('buttons.profile'), current_user, class: 'nav-link active' %></li>
              <li class="nav-item"><%= link_to t('buttons.log_out'), destroy_user_session_path, :method => :delete, class: 'nav-link active' %></li>
            <% else %>
              <li class="nav-item"><%= link_to t('buttons.sign_in'), new_user_session_path, class: 'nav-link active' %></li>
              <li class="nav-item"><%= link_to t('buttons.sign_up'), new_user_registration_path, class: 'nav-link active' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container mt-3">

       <% if flash.any? %>
          <% flash.each do |name, message| %>
            <div class="alert alert-<%= flash_class_name(name) %> alert-dismissible fade show" role="alert">
              <%= message %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
      <% end %>

      <div class="row">
        <div class="col-lg-9">
          <%= yield %>
        </div>
        <div class="col-lg-3">
        </div>
      </div>

      <footer>
        <p>&copy; <%= t('app.company') %> 2021</p>
      </footer>

    </div>
  </body>
</html>
