<h2>Изменение email и пароля</h2>

<div class="col-md-6">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="mb-3">
      <%= f.label 'Новый пароль', class: 'form-label' %> <i>(оставьте пустым, если не хотите менять)</i>
      <%= f.password_field :password, class: 'form-control' %>
      <% if @minimum_password_length %>
        <em>Не менее <%= @minimum_password_length %> символов</em>
      <% end %>
    </div>

    <div class="mb-3">
      <%= f.label 'Подтверждение пароля', class: 'form-label' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.label 'Текущий пароль', class: 'form-label' %>
      <%= f.password_field :current_password, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.submit "Обновить", class: 'btn btn-primary' %>
      или <%= link_to 'вернуться', user_path(current_user) %>
    </div>
  <% end %>

  <h3 class="mb-3">Удаление аккаунта</h3>

  <%= button_to "Удалить аккаунт", registration_path(resource_name),
    data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger btn-sm mb-3' %>

</div>
